<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>后台管理系统</title>
		<link rel="stylesheet" href="../public/css/layui.css" />
	</head>
	<body>
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<div class="layui-logo layui-hide-xs layui-bg-black">
					新闻管理系统
				</div>

				<ul class="layui-nav layui-layout-right">
					<li
						class="layui-nav-item layui-hide layui-show-md-inline-block"
					>
						<a href="javascript:;">
							<img
								src="http://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
								class="layui-nav-img"
							/>
							{{if (user)}} {{user.uname}} {{else }} 未登录
							{{/if}}
						</a>
						<dl class="layui-nav-child">
							<dd><a href="/logout">登出</a></dd>
						</dl>
					</li>
				</ul>
			</div>

			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree leftMain" lay-filter="test">
						<li class="layui-nav-item layui-nav-itemed">
							<a class="" href="javascript:;">用户中心</a>
							<dl class="layui-nav-child">
								<dd><a href="admin-userList.html">基本资料</a></dd>
								<dd><a href="admin-changePwd.html">修改密码</a></dd>
								<dd><a href="javascript:;">更改头像</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;">类型管理</a>
							<dl class="layui-nav-child">
								<dd><a href="javascript:;">类型列表</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;">新闻管理</a>
							<dl class="layui-nav-child">
								<dd><a href="admin-newsList.html">新闻列表</a></dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>

			<div class="layui-body">
				<!-- 内容主体区域 -->
				<iframe
					id="rightMain"
					src="admin-userList.html"
					style="width: 100%; height: 100%"
				></iframe>
			</div>

			<div class="layui-footer">
				<!-- 底部固定区域 -->
				&copy;54
			</div>
		</div>
		<script src="../public/js/jquery.min.js"></script>
		<script src="../public/js/layui.js"></script>
		<script>
			//JS
			layui.use(["element", "layer", "util"], function () {
				var element = layui.element,
					layer = layui.layer,
					util = layui.util,
					$ = layui.$;

				//头部事件
				util.event("lay-header-event", {
					//左侧菜单事件
					menuLeft: function (othis) {
						layer.msg("展开左侧菜单的操作", { icon: 0 });
					},
				});
			});
		</script>
		<script>
			$(document).ready(function () {
				$(".leftMain a").on("click", function (e) {
					e.preventDefault();
					var href = $(this).attr("href");
					var iframe = $("#rightMain").attr("src", href);
				});
			});
		</script>
	</body>
</html>
