<div class="layui-layout layui-layout-admin">
	<div class="layui-header">
		<a class="layui-logo layui-hide-xs layui-bg-black" href="/">新闻首页</a>
		<!-- 头部区域（可配合layui 已有的水平导航） -->
		<ul class="layui-nav layui-layout-left">
			<!-- 移动端显示 -->
			<li
				class="layui-nav-item layui-show-xs-inline-block layui-hide-sm"
				lay-header-event="menuLeft"
			>
				<i class="layui-icon layui-icon-spread-left"></i>
			</li>

			<li class="layui-nav-item layui-hide-xs">
				<a href="#">热点</a>
			</li>
			<li class="layui-nav-item layui-hide-xs">
				<a href="#">民生</a>
			</li>
			<li class="layui-nav-item layui-hide-xs">
				<a href="#">体育</a>
			</li>
		</ul>
		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item layui-hide layui-show-md-inline-block">
				<a href="javascript:;">
					<img
						src="http://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
						class="layui-nav-img"
					/>
					{{if (user)}} {{user.uname}} {{else }} 未登录 {{/if}}
				</a>
				<dl class="layui-nav-child">
					{{if ( !islogin )}}
					<dd><a href="/login">登录</a></dd>
					{{/if}}
					{{if ( islogin )}}
					<dd><a href="#">个人中心</a></dd>
					<dd><a href="#">设置</a></dd>
					<dd><a href="/logout">登出</a></dd>
					{{/if}}
				</dl>
			</li>
		</ul>
	</div>
</div>
