<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>首页</title>
		<link rel="stylesheet" href="/public/css/layui.css" />
	</head>
	<body>
		
		{{ include './header.html'}}

		<div class="layui-bg-gray" style="padding: 30px">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md6">
					<div class="layui-card" style="margin-top: 50px;">
						<div class="layui-card-header">新闻列表</div>
						<div class="layui-card-body">热点新闻</div>
					</div>
				</div>
			</div>

			<hr />

			<div class="layui-form">
				<table class="layui-table">
					<colgroup>
						<col width="150" />
						<col width="150" />
						<col width="50" />
						<col width="200" />
						<col width="50" />
						<col />
					</colgroup>
					<thead>
						<tr>
							<th>标题</th>
							<th>副标题</th>
							<th>发布用户</th>
							<th>内容</th>
							<th>发布时间</th>
						</tr>
					</thead>
					<tbody>
						{{each news}}
						<tr>
							<td>{{$value.title}}</td>
							<td>{{$value.subtitle}}</td>
							<td>{{$value.author}}</td>
							<td>{{$value.content}}</td>
							<td>{{$value.pubdate}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>

		<script src="/public/js/layui.js"></script>

		<script>
			layui.use("element", function () {
				var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

				//监听导航点击
				element.on("nav(demo)", function (elem) {
					//console.log(elem)
					layer.msg(elem.text());
				});
			});
		</script>
	</body>
</html>
