/* 这里放通用的样式 */

/* 字体图标 */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7kkyc2');
  src:  url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
  url('../fonts/icomoon.woff?7kkyc2') format('woff'),
  url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon{
    font-family: 'icomoon';
    font-size: 16px;
    line-height: 26px;
}

/* 版心 */
.w{
  width: 1200px;
  margin: 0 auto;
}

/* 顶部快捷导航 */
.shortcut{
  height: 31px;
  background: #f1f1f1;
  line-height: 31px;
}
.shortcut li{
  float: left;
}
.style-red{
  color: #c81623;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.shortcut .fr li:last-child a{
  border: 0;
}
.spacer{
  width: 1px;
  height: 12px;
  background: #666;
  margin: 9px 12px 0;
}

/* header部分 */
.header{
  position: relative;
  height: 105px;
}

/* logo开始 */
.logo{
  position: absolute;
  top: 25px;
  left: 0;
  height: 56px;
  width: 175px;
}
.logo a{
  position: absolute;
  height: 56px;
  width: 175px;
  background: url(../img/logo.png) no-repeat;
  font-size: 0;
  /* 隐藏内部文字 */
}

/* logo结束,search开始 */
.search{
  position: absolute;
  top: 25px;
  left: 348px;
}
.text{
  float: left;
  width: 455px;
  height: 32px;
  border: 2px solid #b1191a;
  color: #ccc;
  padding-left: 10px;
  box-sizing: border-box;
}
.btn{
  float: left;
  width: 82px;
  height: 32px;
  background-color: #b1191a;
  color: #fff;
  border: 0;
  font-size: 16px;
}
.hotwords{
  position: absolute;
  left: 348px;
  top: 65px;
}
.hotwords a{
  margin: 0 10px;
}

/* .shopcar开始 */
.shopcar{
  position: absolute;
  right: 64px;
  top: 25px;
  width: 138px;
  height: 34px;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
  line-height: 34px;
  text-align: center;
}
.car{
  font-family: 'icomoon';
  color: #b1191a;
}
.arrow{
  font-family: 'icomoon';
  margin-left: 5px;
}
.count{
  position: absolute;
  top: -5px;
  /* left: 100px; */
  background-color: red;
  height: 14px;
  padding: 1px 3px;
  line-height: 14px;
  color: #fff;
  border-radius: 45% 45% 45% 0;
}

/* nav开始 */
.nav{
  height: 45px;
  border-bottom: 2px solid #b1191a;
}
/* 左侧导航 */
.dropdown{
  height: 45px;
  width: 209px;
}
.dropdown .dt{
  background-color: #b1191a;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 45px;
}
.dropdown .dd{
  height: 380px;
  background-color: #c81623;
  margin-top: 2px;
}
.menu_item{
  height: 25px;
  line-height: 25px;
  padding-left: 13px;
  transition: all 0.3s;
}
.menu_item:hover{
  background: rgba(0,0,0,0.2);
  padding-left: 18px;
}
.menu_item a{
  color: #fff;
  font-size: 13px;
}
.menu_item a:hover{
  color: #ff6700;
}
.menu_item .arrow2{

  float: right;
  font-family: 'icomoon';
  color: #fff;
  font-size: 14px;
  padding-right: 10px;
}

/* 右侧导航 */
.navitems{
  margin-left: 10px;
}
.navitems li{
  float: left;
}
.navitems li a{
  float: left;
  display: block;
  height: 45px;
  padding: 0 25px;
  line-height: 45px;
  font-size: 16px;
}
.navitems li:hover a{
  background-color: #c81623;
  color: #fff;
}

/* footer底部 */
footer{
  height: 416px;
  background-color: #f5f5f5;
  padding-top: 30px;
  box-sizing: border-box;
}
/* 服务模块 */
.service{
  height: 79px;
  border-bottom: 1px solid #ccc;
}
.service li{
  float: left;
  width: 240px;
  height: 79px;
}
.service_title{
  float: left;
  margin-left: 5px;
}
.service_title h5{
  font-size: 14px;
  margin: 5px 0;
}
.service_title p{
  font-size: 12px;
}
.service_icon{
  float: left;
  height: 50px;
  width: 50px;
  margin-left: 35px;
  background: url(../img/icons.png) no-repeat;
}
.icon1{
  background-position: -253px -3px;
}
.icon2{
  background-position: -255px -54px;
}
.icon3{
  background-position: -257px -105px;
}
.icon4{
  background-position: -257px -157px;
}
.icon5{
  background-position: -256px -209px;
}
/* 帮助模块 */
.help{
  height: 187px;
  border-bottom: 1px solid #ccc;
}
.help_item{
  float: left;
  width: 200px;
  padding: 20px 0 0 50px;
  box-sizing: border-box;
}
.help_item dt {
  height: 25px;
  font-size: 16px;
}
.help_item dd {
  height: 22px;
}
.help_app dt,
.help_app p {
    padding-left: 15px;
}
.help_app img{
    margin: 7px 0;
}