/* 这里写首页index的样式 */
.main{
    width: 980px;
    height: 370px;
    margin-left: 219px;
    margin-top: 10px;
}
/* 中间父级元素相对定位 */
.focus{
    position: relative;
    height: 370px;
    width: 720px;
    background-color: purple;
    background: purple;
}
/* 左右箭头 */
.arrow_l,
.arrow_r{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background: rgba(0,0,0,.3);
    font-family: 'icomoon';
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
.arrow_r {
    right: 0;
}
.circle{
    position: absolute;
    bottom: 10px;
    left: 50px;
}
.circle li{
    float: left;
    width: 8px;
    height: 8px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
}
.current{
    background-color: #fff;
}

/* 大图右侧新闻栏 */
.quciknews{
    width: 250px;
    height: 370px;
}
.news{
    height: 158px;
    border: 1px solid #d6d6d6;
}
.news_hd{
    height: 30px;
    border-bottom: 1px dotted #ccc;
    padding: 0 15px;
    font-size: 14px;
    line-height: 30px;
}
.news_hd a{
    float: right;
    font-size: 12px;
}
.news_hd a span{
    font-family: 'icomoon';
    font-size: 14px;
    vertical-align: middle; 
}
.news_bd{
    padding: 10px 0 0 15px;
}
.news_bd li{
    height: 22px;
    width: 230px;
}
/* 中间生活服务 */
.lifeservice{
    overflow:hidden;
    height: 138px;
    border: 1px solid #ccc;
    border-top: none;
}
.lifeservice ul{
    width: 250px;
}
.lifeservice li{
    position: relative;
    float: left;
    width: 82px;
    height: 46px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.lifeservice li a{
    display: block;
    overflow: hidden;
}
.lifeservice li p{
    text-align: center;
}
.service_ico {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/icons.png) no-repeat;
    margin: 1px auto;
}
.service_ico_huafei {
    background-position: -17px -16px;
}
.service_ico_feiji {
    width: 26px;
    background-position: -78px -16px;
}
.bargain {
    height: 70px;
    margin-top: 2px;
}

/* 推荐服务模块开始 */
.recommend{
    height: 163px;
    margin-top: 10px;
}
.recom_hd{
    width: 200px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
}
.recom_hd img{
    margin: 30px 0 15px 0;
}
.recom_hd h3{
    font-size: 18px;
    color: #fff ;
    font-weight: normal;
}
.recom_bd {
    width: 1000px;
    height: 163px;
    background-color: #ebebeb;
}
.recom_bd li{
    float: left;
    width: 250px;
    height: 145px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 10px;
}