@media screen and (max-width: 1024px) {
	html {
		font-size: 44.66px !important;
	}
}
@media screen and (min-width: 1920px) {
	html {
		font-size: 80px !important;
	}
}

body {
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
}

.column {
	flex: 3;
	/* background-color: pink; */
}

.column:nth-child(2) {
	flex: 4;
	margin: 0.4rem 0.25rem 0;
}

.container {
	display: flex;
	max-width: 1920px;
	min-width: 1024px;
	min-height: 700px;
	padding: 1.1rem 0.25rem 0.25rem 0.25rem;
	background: url(../img/logo.png) no-repeat;
	background-size: contain;
}

.container .column:nth-child(1) {
	flex: 3;
}

.container .column:nth-child(2) {
	flex: 4;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

.container .column:nth-child(3) {
	flex: 3;
}
/* 面板 */
.panel {
	border: 0.1875rem solid red;
	border-width: 0.6375rem 0.475rem 0.25rem 1.65rem;
	border-image-source: url(../img/border.png);
	border-image-slice: 51 38 20 132;
	position: relative;
	margin-bottom: 0.25rem;
}

.inner {
	position: absolute;
	top: -0.6375rem;
	left: -1.65rem;
	bottom: -0.25rem;
	right: -0.475rem;
	padding: 0.25rem;
}

/* 概览面板 */
.overview {
	height: 1.375rem;
}

.overview h4 {
	text-align: center;
}

.overview ul {
	display: flex;
	justify-content: space-between;
}

.overview ul li h4 {
	font-size: 0.35rem;
	color: #fff;
}

.overview ul li span {
	font-size: 0.2rem;
	color: #4c9bfd;
}

/* 监控面板 */
.monitor {
	height: 6rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
.monitor .inner {
	padding: 0.3rem 0;
	display: flex;
	flex-direction: column;
}
.monitor .tabs {
	padding: 0 0.45rem;
	margin-bottom: 0.225rem;
	display: flex;
}
.monitor .tabs a {
	color: #1950c4;
	font-size: 0.225rem;
	padding: 0 0.3375rem;
}
.monitor .tabs a:first-child {
	padding-left: 0;
	border-right: 0.025rem solid #00f2f1;
}
.monitor .tabs a.active {
	color: #fff;
}
.monitor .content {
	flex: 1;
	position: relative;
	display: none;
}
.monitor .head {
	display: flex;
	justify-content: space-between;
	line-height: 1.05;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 0.15rem 0.45rem;
	color: #68d8fe;
	font-size: 0.175rem;
}
.monitor .marquee-view {
	position: absolute;
	top: 0.5rem;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}
.monitor .row {
	display: flex;
	justify-content: space-between;
	line-height: 1.05;
	font-size: 0.15rem;
	color: #61a8ff;
	padding: 0.15rem 0.45rem;
}
.monitor .row .icon-dot {
	position: absolute;
	left: 0.2rem;
	opacity: 0;
}
.monitor .row:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: #68d8fe;
}
.monitor .row:hover .icon-dot {
	opacity: 1;
}
.monitor .col:first-child {
	width: 1rem;
}
.monitor .col:nth-child(2) {
	width: 2.5rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.monitor .col:nth-child(3) {
	width: 1rem;
}

/* 调用滚动动画 */
.monitor .marquee-view .marquee {
	animation: scroll 15s linear infinite;
}
/* 鼠标悬停停止做动画 */
.monitor .marquee-view .marquee:hover {
	animation-play-state: paused;
}
/* 监控区域内容的滚动动画 */
@keyframes scroll {
	100% {
		transform: translateY(-50%);
	}
}

/* 点位 */
.point {
	height: 4.25rem;
}
.point .chart {
	display: flex;
	/* margin-top: 0.3rem; */
	justify-content: space-between;
}
.point .pie {
	width: 3.9rem;
	height: 3rem;
	margin-left: -0.125rem;
	/* background-color: pink; */
}
.point .data {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 2.1rem;
	padding: 0.45rem 0.375rem;
	box-sizing: border-box;
	background-image: url(../img/rect.png);
	background-size: cover;
}
.point h3 {
	margin-bottom: 0.15rem;
	font-size: 0.25rem;
	color: #fff;
}
.point span {
	display: block;
	color: #4c9bfd;
	font-size: 0.2rem;
}

/* 地图  */
.map {
	height: 7.225rem;
	margin-bottom: 0.25rem;
	display: flex;
	flex-direction: column;
}
.map h3 {
	line-height: 1;
	padding: 0.2rem 0;
	margin: 0;
	font-size: 0.25rem;
	color: #fff;
	font-weight: 400;
}
.map .icon-cube {
	color: #68d8fe;
}
.map .chart {
	flex: 1;
	background-color: rgba(255, 255, 255, 0.1);
}
.map .geo {
	width: 100%;
	height: 100%;
}

/* 用户模块 */
.users {
	height: 4.25rem;
	display: flex;
}
.users .chart {
	display: flex;
	margin-top: 0.3rem;
}
.users .bar {
	width: 7.35rem;
	height: 3rem;
}
.users .data {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 2.1rem;
	padding: 0.45rem 0.375rem;
	box-sizing: border-box;
	background-image: url(../img/rect.png);
	background-size: cover;
}
.users h3 {
	margin-bottom: 0.15rem;
	font-size: 0.25rem;
	color: #fff;
}
.users span {
	display: block;
	color: #4c9bfd;
	font-size: 0.2rem;
}

/* 订单 */
.order {
	height: 1.875rem;
}
.order .filter {
	display: flex;
}
.order .filter a {
	display: block;
	height: 0.225rem;
	line-height: 1;
	padding: 0 0.225rem;
	color: #1950c4;
	font-size: 0.225rem;
	border-right: 0.025rem solid #00f2f1;
}
.order .filter a:first-child {
	padding-left: 0;
}
.order .filter a:last-child {
	border-right: none;
}
.order .filter a.active {
	color: #fff;
	font-size: 0.25rem;
}
.order .data {
	display: flex;
	margin-top: 0.25rem;
}
.order .item {
	width: 50%;
}
.order h4 {
	font-size: 0.35rem;
	color: #fff;
	margin-bottom: 0.125rem;
}
.order span {
	display: block;
	color: #4c9bfd;
	font-size: 0.2rem;
}

/* 销售区域 */
.sales {
	height: 3.1rem;
}
.sales .caption {
	display: flex;
	line-height: 1;
}
.sales h3 {
	font-size: 0.25rem;
	color: #fff;
	height: 0.225rem;
	padding-right: 0.225rem;
	border-right: 0.025rem solid #00f2f1;
}
.sales a {
	padding: 0.05rem;
	font-size: 0.2rem;
	margin: -0.0375rem 0 0 0.2625rem;
	border-radius: 0.0375rem;
	color: #0bace6;
}
.sales a.active {
	background-color: #4c9bfd;
	color: #fff;
}
.sales .inner {
	display: flex;
	flex-direction: column;
}
.sales .chart {
	flex: 1;
	padding-top: 0.1875rem;
	position: relative;
}
.sales .label {
	position: absolute;
	left: 0.525rem;
	top: 0.225rem;
	color: #4996f5;
	font-size: 0.175rem;
}
.sales .line {
	width: 100%;
	height: 100%;
}

/* 渠道 销售  */
.warp {
	display: flex;
}

/* 渠道分布 */
.channel {
	flex: 1;
	margin-right: 0.25rem;
	height: 2.9rem;
}
.channel .data {
	overflow: hidden;
}
.channel .data .radar {
	height: 2.1rem;
	width: 100%;
}
.channel h3 {
	color: #fff;
	font-size: 0.25rem;
	margin-bottom: 0.0625rem;
}
.channel small {
	font-size: 50%;
}
.channel span {
	display: block;
	color: #4c9bfd;
	font-size: 0.175rem;
}
/* 销售进度 */
.quarter {
	flex: 1;
	height: 2.9rem;
}
.quarter .chart {
	flex: 1;
}
.quarter .chart .box {
	position: relative;
}
.quarter .chart .label {
	transform: translate(-50%, -30%);
	color: #fff;
	font-size: 0.375rem;
	position: absolute;
	left: 50%;
	top: 50%;
}
.quarter .label small {
	font-size: 50%;
}
.quarter .gauge {
	height: 1.05rem;
}
.quarter .data {
	display: flex;
	justify-content: space-between;
}
.quarter .item {
	width: 50%;
}
.quarter .data .item {
	margin-left: 0.125rem;
}
.quarter h3 {
	color: #fff;
	font-size: 0.3rem;
	margin-bottom: 0.125rem;
}
.quarter h4 {
	text-align: center;
}
.quarter span {
	display: block;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #4c9bfd;
	font-size: 0.175rem;
}

/* 排行榜 */
.top {
	height: 3.5rem;
}
.top .inner {
	display: flex;
}
.top h3 {
	color: #fff;
	font-size: 0.3rem;
	margin-bottom: 0.125rem;
}
/* 左侧全国 */
.top .all {
	display: flex;
	flex-direction: column;
	width: 2.1rem;
	color: #4c9bfd;
	font-size: 0.175rem;
	vertical-align: middle;
}
.top .all ul {
	padding-left: 0.15rem;
	margin-top: 0.15rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.top .all li {
	overflow: hidden;
}
.top .all [class^="icon-"] {
	font-size: 0.45rem;
	vertical-align: middle;
	margin-right: 0.15rem;
}

/* 右侧省份 */
.top .province {
	flex: 1;
	display: flex;
	flex-direction: column;
	color: #fff;
}

.top .province i {
	float: right;
	padding: 0 0.15rem;
	font-style: normal;
	font-size: 0.175rem;
	color: #0bace6;
}
.top .province s {
	display: inline-block;
	transform: scale(0.8);
	text-decoration: none;
}
.top .province .icon-up {
	color: #dc3c33;
}
.top .province .icon-down {
	color: #36be90;
}
.top .province .data {
	flex: 1;
	display: flex;
	margin-top: 0.175rem;
}
.top .province ul {
	flex: 1;
	line-height: 1;
	margin-bottom: 0.175rem;
}
.top .province ul li {
	display: flex;
	justify-content: space-between;
}
.top .province ul span {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.top .province ul.sup {
	font-size: 0.175rem;
}
.top .province ul.sup li {
	color: #4995f4;
	padding: 0.15rem;
}
.top .province ul.sup li.active {
	color: #a3c6f2;
	background-color: rgba(10, 67, 188, 0.2);
}
.top .province ul.sub {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 0.15rem;
	background-color: rgba(10, 67, 188, 0.2);
}
.top .province ul.sub li {
	color: #52ffff;
	padding: 0.125rem 0.175rem;
}
