/* 首页样式开始 */

ul {
   margin : 0;
   padding : 0;
   list-style : none;
}

a {
   text-decoration : none;
   color : #666666;
}

a:hover {
   text-decoration : none;
}

/* 当屏幕宽度大于等于1280px的时候,父级容器宽度设置为1280px */
@media screen and (min-width:1280px) {
   .container {
      width : 1280px;
   }
}

/* header开始 */
header {
   padding-left : 0 !important;
}
header .logo {
   background-color : #429AD9;
}
header .logo img {
   display : block;
   /* 在小屏幕的时候不需要放大 */
   /* width : 100%; */
   /* 中屏和大屏才需要放大 */
   max-width : 100%;
   margin : 0 auto;
}

header .nav {
   background-color : #EEEEEE;
   border-bottom : 1px solid #CCCCCC;
}
header .nav a {
   display : block;
   height : 50px;
   line-height : 50px;
   padding-left : 30px;
   font-size : 16px;
}

header .nav a:hover {
   background-color : #FFFFFF;
   color : #333333;
}

header .nav a::before {
   vertical-align : middle;
   padding-right : 5px;
}

/* 中间新闻开始 */
/* 上方五图 */
.news ul li {
   float : left;
   height : 128px;
   width : 25%;
   height : 128px;
   padding-right : 10px;
   margin-bottom : 10px;
}

.news ul li a {
   position : relative;
   display : block;
   width : 100%;
   height : 100%;
}
.news li:nth-child(1) {
   width : 50%;
   height : 266px;
}

.news ul li:nth-child(1) a p {
   line-height : 41px;
   font-size : 20px;
   padding : 0 10px;
}


.news ul li img {
   width : 100%;
   height : 100%;
}

.news ul li  p {
   position : absolute;
   left : 0;
   bottom : 0;
   width : 100%;
   height : 41px;
   background : rgba(0,0,0,.5);
   color : #FFFFFF;
   margin-bottom : 0;
   padding : 5px 10px;
   font-size : 12px;
}

/* .下面文章 */
.articles {
   border-top : 1px solid #666666;
}
.articles .row {
   border-bottom : 1px solid #CCCCCC;
   padding : 10px 0;
}
.articles .row img {
   margin-top : 5px;
   width : 100%;
}


/* 右侧开始 */
.banner img {
   width : 100%;
}
.hot {
   display : block;
   padding : 0 20px 10px;
   margin-top : 10px;
   border : 1px solid #CCCCCC;
}
.hot span {
   border-radius : 0;
   margin-bottom : 20px;
}
.hot p {
   font-size : 12px;
}


/* 超小屏幕的时候,logo中的图像隐藏,显示文字 */
.logo span {
   height : 50px;
   line-height : 50px;
   text-align : center;
   font-size : 20px;
   color : #FFFFFF;
}
/* 小屏幕的时候,li要浮动起来,在同一行显示 */
@media screen and (max-width:991px) {
   header .nav li {
      float : left;
      width : 20%;
   }
}
/* 在超小屏幕的时候导航栏中的文字要变小一些 */
@media screen and (max-width:767px) {
   header .nav li a {
      padding-left : 3px;
      font-size : 14px;
   }
   /* 超小屏幕 第一个li要占100%的宽度独占一行  剩下四个li要占用50%的宽度 */
   .news li {
      width : 50% !important;
   }
   .news li:nth-child(1) {
      width : 100% !important;
   }
   .row header {
      margin-bottom : 10px;
   }

   /* 超小屏幕时,文章的标题字体大小变小 */
   .articles .row h3 {
      font-size : 16px;
   }
}

/* 超小屏幕时,文章:只需要标题和点赞信息  */
