// index页面的css样式代码
// 使用import语句导入公共less代码

@import "common";

body{
    min-width: 320px;
    width: 15rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: arial,helvetica;
    background: #f2f2f2;
}
