html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: arial,helvetica;
  background: #f2f2f2;
}
.search-wrap {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 1.76rem;
  background-color: #ffc001;
}
.search-wrap .classify {
  width: 1.5rem;
  height: 1.4rem;
  margin-top: 0.18rem;
  background-color: #fff;
}
.search-wrap .search {
  flex: 1;
}
.search-wrap .search input {
  width: 11.24rem;
  height: 1.32rem;
  margin-top: 0.18rem;
  border-radius: 0.66rem;
  background-color: #fff2cc;
  color: #757575;
  border: none;
}
.search-wrap .login {
  width: 1.5rem;
  height: 1.4rem;
  margin-top: 0.18rem;
  background-color: red;
}
