/* 取消元素默认的内外边距 */
*{
    padding: 0;
    margin: 0;

}

/* 取消列表风格样式 */
li{
    list-style: none;
}

body{
    background-color: #f3f5f7;
    font-size: 16px;
}

a{
    text-decoration: none;
}

/* 设计版心:宽度,水平居中 */
.w{
    width: 1200px;
    margin: 0 auto;
}

/* logo开始 */
.header{
    height: 102px;
    /* padding: 30px 0; */
    /* background-color: red; */
}

/* 四个内容部分 */
.logo{
    float: left;
    margin: 30px 0;
    height: 42px;
}

.nav{
    float: left;
    height: 40px;
    margin: 30px 0;
}

    .nav li{
        float: left;
        line-height: 40px;
    }
    .nav li a{
        display: block;
        height: 40px;
        /* 不设置宽度,靠padding撑大盒子的宽度:不确定的宽度 */
        padding: 0 20px;
        margin: 0 30px;

        color: #050505;
        font-size: 18px;
    }
    .nav li a:hover{
        border-bottom: 2px solid #00a4ff;
    }

/* 搜索开始 */
.search{
    float: left;
    height: 42px;
    margin: 30px 0 30px 30px;
}

    .search input{
        float: left;
        width: 340px;
        height: 40px;
        padding-left: 20px;
        border: 1px solid #00a4ff;
        color: #999;

    }
    .search button{
        float: left;
        width: 50px;
        height: 42px;
        background: url(../images/btn.png);
        border: none;

    }
.user{
    float: right;
    height: 42px;
    margin: 30px 0;
    color: #999;
}

/* banner开始 */
.banner{
    width: 100%;
    height: 420px;
    background: #1c036b url(../images/banner2.png) no-repeat center top;
}

.subnav{
    float: left;
    width: 150px;
    height: 420px;
    padding:0 20px;
    background-color: rgba(0,0,0,0.2);
}

    .subnav ul li{
        height: 45px;
        line-height: 45px;    
    }

    .subnav ul li a{
        display: block;
        /* float: left; */
        color: #fff;
    }

    .subnav ul li a span{
        float: right;
    }

    .subnav li a:hover{
        color: #00a4ff;
    }

/* 我的课程表开始 */
.course{
    float: right;
    width: 230px;
    height: 300px;
    /* padding: 0px 10px; */
    margin-top: 50px;
    background-color: #fff;
}

    .course h4{
        height: 48px;
        line-height: 48px;
        background-color: #9bceea;
        color: black;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    .course-bd{
        /* width: 100%; */
        /* text-decoration: underline; */
        padding-top: 10px;
        height: 180px;
        padding: 0 10px;
    }

    .course-bd a{
        display: block;
        width: 100%;
        height: 50px;
        /* line-height: 60px; */
        /* padding: 10px 0 0 10px; */
        border-bottom: 1px solid #ccc;
    }

    .course a div{
        color: #050505;
        font-weight: 700;
    }
    .course a p{
        color: #A5A5A5;
        font-size: 14px;
    }

/* 全部课程 */
.all{
    display: block;
    width: 198px;
    height: 38px;
    border: 1px solid #00a4ff;
    margin: 20px auto;
    color: #00a4ff;
    line-height: 38px;
    text-align: center;
}
    .all:hover{
        color: #fff;
        background-color: #00a4ff;
    }

/* 精品推荐开始 */
.goods{
    height: 60px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgb(0 0 0 /20%);
}

    .goods-l{
        float: left;
        width: 120px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        color: #00a4ff;
        font-size: 18px;
        font-weight: 700;
    }
    
    .goods-m{
        float: left;
        /* height: 60px; */
        line-height: 60px;
    }

        .goods-m a{
            padding: 0 30px;
            color: #050505;
        }

        .goods-m a:hover{
            color: #00a4ff;
        }

    .goods-r{
        display: block;
        float: right;
        line-height: 60px;
        margin-right: 40px;
        font-size: 14px;
        color: #00a4ff;
    }